.container_shelf_one{
    color: #fff;
    margin: 160px 0;
    /* height: 400px; */
}
.container_shelf_one h2 {
    font-size: 30px;
    padding: 5px;
}

.container_shelf_one .slick-slider {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    height: auto;
}


.card_shelf_one{
    display: flex !important;
    flex-direction: column;
    cursor: pointer;
}
.container_shelf_one .content_image-shelf{
    height: 550px;
}
.container_shelf_one .image_shelf_one{
    height: 100%;
    width: 100%;
    /* object-fit: cover !important; */
    border-radius: 8px;
}
.container_shelf_one .slick-slide{
    border: 1px solid rgba(65, 65, 66, 0.616);
    border-radius: 8px;
    border-bottom: none;
    display: flex !important;
    gap: 8px !important;
    margin: 0 12px;
    /* width: 350px !important; */
    width: 100%;
    height: auto;
    transition: all .3s linear;
}
.container_shelf_one .slick-slide:hover{
    transform: scale(1.03);
}
.container_shelf_one .slick-track{
    width: max-content !important;
}

.container_shelf_one .slick-next{
    right: 3rem !important;
}
.container_shelf_one .slick-prev{
    left: 3rem !important;
}
 .slick-prev, .slick-next{
    top: 50% !important;
    z-index: 9;
    width: 24px !important;
    height: 24px !important;
}
.container_shelf_one .slick-prev::before, .slick-next::before{
    font-size: 30px !important;
    color: #fc6a09;
}
.link_pdp, .link_pdp:active{
    display: flex;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fc6a09;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fc6a09;
    border-radius: 8px;
    margin-top: 8px;
    transition: all .2s ease-in;
    font-weight: 600;
}
.link_pdp:hover{
    background-color: #612700;

}